<section class="about" id="about" data-about-target-color="#b85a16">
  <div class="container">
    <div class="about-content">
      <h2 class="about-title">
        {% assign heading_lines = about.title | split: ',' %}
        {% for line in heading_lines %}
          <span class="about__heading-line">{{ line | strip }}</span>
        {% endfor %}
      </h2>
      <p class="about-text">{{ about.description }}</p>
    </div>
  </div>
</section>