{% capture headline %}
READY TO
DRINK
BETTER?
{% endcapture %}



<section id="cta-one" class="cta-section" aria-labelledby="cta-one-heading">
  <div class="container">
    <div class="cta-one-content">
      <h2 class="cta-title">
   {{headline}}
      </h2>

      <a href="/products" class="cta-one-button">shop now</a>
    </div>
   </div>
   </section>