<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body data-barba="wrapper">

  <main data-barba="container" data-barba-namespace="{{ page.fileSlug }}">
 {% include "header.liquid" %}

  {{ content }}

 {% include "footer.liquid" %}



  </main>

  
  
  <script type="module" src="/js/main.js"></script>
</body>
</html>