@use "./variables" as *;

        .about {
            background: #B85A16;
            color: #fff;
        }

        .about-content {
            max-width: 1400px;
        }

        .about-title {
            font-size: clamp(60px, 12vw, 180px);
            margin-bottom: 60px;
            line-height: 0.9;
        }

        .about-text {
            font-size: clamp(24px, 3vw, 48px);
            line-height: 1.4;
            max-width: 1200px;
            font-weight: 300;
        }

        .about__heading-line {
  display: block;
}